*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --fundoFooter: #202020;
}

.footbar{
    background-color: var(--fundoFooter);
    text-align: right;
    overflow: hidden;
    height: 133px;
}

.footbar img{
    height: 133px;
}

